@font-face {
	font-family:Titulo;
	src:url(../fontes/ANODETONOONE.TTF);
}

h1 {
	font-family:Titulo;
	font-size:40px;
	color:#603A03;
}

body {
	
	background-image:url(../imgs/fundo.jpg);
}

#container{
	
	

	width:950px;
	height:auto;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	
	border-color:#FFF;
	border-style:solid;
	
}


#fundoGame {
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width:950px;
	height:630px;
	background-image:url(../imgs/fundo_game.jpg);

	
	
}


#inicio {

	width:50%;
	height:auto;
	
	background-color:#FFF;
	text-align: center;

	padding:10px;
	border-radius: 6px;

}

.botao{
	width: 50%;
	height: 30px;
	margin: 4px;
	border-radius: 4px;
	
	background-color:rgb(11, 184, 25);
	color:white;
	
	font-size: large;

	font-family: Titulo;
	
	cursor: pointer;
    transition: 0.5s ease all;
    border-radius: 6px
    
	
}

.botao:hover{
	background-color:rgb(0, 95, 0) ;
	color:  white ;
}

#fim{
	width:50%;
	height:auto;
	
	background-color:#FFF;
	text-align: center;

	padding:10px;
	border-radius: 6px;
}

.botao2{
	width: 50%;
	height: 30px;
	margin: 4px;
	border-radius: 4px;
	
	background-color:rgb(11, 184, 25);
	color:white;
	
	font-size: large;

	font-family: Titulo;
	
	cursor: pointer;
    transition: 0.5s ease all;
    border-radius: 6px
}

.botao2:hover{
	background-color:rgb(0, 95, 0) ;
	color:  white ;
}

p{
	display: inline-block;
	margin-left: 20px;
}

.comandos{
	font-size: 18px;
}

.pontos{
	color:yellow
}

.salvos{
	color: green;
}

.perdidos{
	color: red;
}

#jogador {
	width:256px;
	height:66px;
	position:absolute;
	left: 10px;
	top:179px;
background-image:url(../imgs/apache.png);

}

#inimigo1 {
	width: 256px;
	height: 66px;
	position: absolute;
	left: 689px;
	top: 253px;
	background-image:url(../imgs/inimigo1.png);
	
}

#inimigo2 {
	width: 165px;
	height: 70px;
	position: absolute;
	left: 775px;
	top: 447px;
	background-image: url(../imgs/inimigo2.png);
}

#amigo {
	width: 44px;
	height: 51px;
	position: absolute;
	left: 10px;
	top: 464px;
	background-image:url(../imgs/amigo.png);
}




.anima1 {
	background-image:url(../imgs/helicoptero.png);
	animation:play .5s steps(2) infinite;

	-webkit-animation: play .5s steps(2) infinite;
    -moz-animation: play .5s steps(2)infinite;
    -ms-animation: play .5s steps(2)infinite;
    -o-animation: play .5s steps(2)infinite;
}
@keyframes play {
	from {background-position:0px;}
	to {background-position: -512px;}
}

.anima2 {
	background-image:url(../imgs/inimigo1.png);
	
    animation: play .5s steps(2) infinite;
    -webkit-animation: play .5s steps(2) infinite;
    -moz-animation: play .5s steps(2) infinite;
    -ms-animation: play .5s steps(2) infinite;
    -o-animation: play .5s steps(2) infinite; 
}

.anima3 {
	background-image:url(../imgs/amigo.png);

	animation:play2 .9s steps(12) infinite;
	-webkit-animation: play2 .9s steps(12) infinite;
    -moz-animation: play2 .9s step(12) infinite;
    -ms-animation: play2 .9s step(12) infinite;
    -o-animation: play2 .9s step(12) infinite;
}

@keyframes play2 {
	from {background-position:0px;}
	to {background-position:-528px;}
}


#disparo {
	width: 50px;
	height: 8px;
	position: absolute;
	background-image: url(../imgs/disparo.png);
}

#explosao1 {
	width:15px;
	height:87px;
	position:absolute;

}

#explosao2 {
	width:15px;
	height:87px;
	position:absolute;
	
}

#explosao3 {
	width:44px;
	height:51px;
	position:absolute;
}

.anima4 {
	width:44px;
	height:51px;
	position: absolute;
	background-image:url(../imgs/amigo_morte.png);
	animation:play3 .5s steps(7) infinite;
	-webkit-animation: play3 .5s steps(7) infinite;
    -moz-animation: play3 .5s steps(7) infinite;
	-ms-animation: play3 .5s steps(7) infinite;
    -o-animation: play3 .5s steps(7) infinite;
}

@keyframes play3 {
	from {background-position:0px;}
	to {background-position:-308px;}
}

#placar {
	width: auto;
	height: 50px;
	position: absolute;
	left: 5px;
	top: 550px;
}

h2 {
	font-family:Titulo;
	font-size:20px;
	color:#FFF
}

#energia {
	width: 140px;
	height: 38px;
	position: absolute;
	left: 750px;
	top: 7px;	
}

h3 {
	font-family:Titulo;
	font-size:20px;
	color:#603A03;

}

#fim {
	width:350px;
	height:200px;
	background-color:#FFF;
	 justify-content: center;
	 align-content: center;
	 margin-left:auto;
    margin-right:auto;
	text-align:center;
	padding:10px;

}