@font-face {
	font-family:Titulo;
	src:url(../fontes/ANODETONOONE.TTF);
}

h1 {
	font-family:Titulo;
	font-size:40px;
	color:#603A03;
}

body {
	
	background-image:url(../imgs/fundo.jpg);
}

#container{
	
	

	width:950px;
	height:auto;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	
	border-color:#FFF;
	border-style:solid;
	
}


#fundoGame {
	display:flex;
	align-items: center;
	
	width:950px;
	height:630px;
	background-image:url(../imgs/fundo_game.jpg);

	
	
}


#inicio {

	width:50%;
	height:auto;
	
	background-color:#FFF;
	 
	margin:auto;
	
	text-align: center;
	
	padding:10px;
	border-radius: 6px;

}

.botao{
	width: 50%;
	height: 30px;
	margin: 4px;
	border-radius: 4px;
	
	background-color:rgb(11, 184, 25);
	color:white;
	
	font-size: large;

	font-family: Titulo;
	
	cursor: pointer;
    transition: 0.5s ease all;
    border-radius: 6px
    
	
}

.botao:hover{
	background-color:rgb(0, 95, 0) ;
	color:  white ;
}

#jogador {
	width:256px;
	height:66px;
	position:absolute;
	left: 10px;
	top:179px;
background-image:url(../imgs/apache.png);

}

#inimigo1 {
	width: 256px;
	height: 66px;
	position: absolute;
	left: 689px;
	top: 253px;
	background-image:url(../imgs/inimigo1.png);
	
}

#inimigo2 {
	width: 165px;
	height: 70px;
	position: absolute;
	left: 775px;
	top: 447px;
	background-image: url(../imgs/inimigo2.png);
}

#amigo {
	width: 44px;
	height: 51px;
	position: absolute;
	left: 10px;
	top: 464px;
	background-image:url(../imgs/amigo.png);
}



.anima1 {
	background-image:url(../imgs/helicoptero.png);
	animation:play .5s steps(2) infinite;

	-webkit-animation: play .5s steps(2) infinite;
    -moz-animation: play .5s steps(2)infinite;
    -ms-animation: play .5s steps(2)infinite;
    -o-animation: play .5s steps(2)infinite;
}
@keyframes play {
	from {background-position:0px;}
	to {background-position: -512px;}
}

.anima2 {
	background-image:url(../imgs/inimigo1.png);
	
    animation: play .5s steps(2) infinite;
    -webkit-animation: play .5s steps(2) infinite;
    -moz-animation: play .5s steps(2) infinite;
    -ms-animation: play .5s steps(2) infinite;
    -o-animation: play .5s steps(2) infinite; 
}

.anima3 {
	background-image:url(../imgs/amigo.png);

	animation:play2 .9s steps(12) infinite;
	-webkit-animation: play2 .9s steps(12) infinite;
    -moz-animation: play2 .9s step(12) infinite;
    -ms-animation: play2 .9s step(12) infinite;
    -o-animation: play2 .9s step(12) infinite;
}

@keyframes play2 {
	from {background-position:0px;}
	to {background-position:-528px;}
}


#disparo {
	width: 50px;
	height: 8px;
	position: absolute;
	background-image: url(../imgs/disparo.png);
}